# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Ignore everything
*

# But not these files...
!.gitignore
!.lein/*
!.clj-kondo/config.edn
!.config/neofetch/*
!.config/nvim/*
!.config/fish/*
!.config/fisher/*
!.config/iterm2/*
!.config/omf/*
!.config/htop/*
!.vim/*

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*

