# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Ignore everything
*

# ...but not the following
!.gitignore
!.config/neofetch/*
!.config/iterm2/*
!.config/htop/*
!.config/starship.toml
!.config/helix/*
!.config/shell.nu
!.config/mise/*
!.local/bin/dlfox.fish
!.nix-defexpr/default.nix
!.config/fish/config.fish
!.config/fish/fish_variables
